@charset "UTF-8";
<body>{
     background-color: #fbf9cc;
     background-image: url(haikei.png);
}

h1 span{
   font-size: 1.75em;
   font-weihgt: 300;
   color: #3399cc;
     border: #94c8b1 1px dotted;
}
#lead{
   border-top: #6fb9a 1px dotted;
   text-align: center;
}
greeting{
   border-top: #6fb9a 1px dotted;
   text-align: center;
}
